<div class = "stolen-frosty span4 offset5 text-center">
    
    <h1 class= "stolen-h1">
      Save Your Lesson
    </h1>

    <br/>

      <%= simple_form_for @pic do |f| %>
      
          <%= f.input :lesson %>
          <br/>

          <%= f.input :image, label: 'Upload your image:' %>
          <br/>

          <%= f.input :emotion, label: 'How did you feel?', placeholder: 'Stoked, Jazzed, Super' %>
          <br/>
          <%= f.input :learned, label: 'What did you learn?', placeholder: 'HTML, CSS, Rails, GitHub, Ruby' %>
          <br/>
          <%= submit_tag  'Save', :class => 'btn btn-success btn-large' %>
      
      <% end %>

    
</div>