<div class= "stolen-frosty span9 offset1 text-center">
  <h1 class= "stolen-h1">
      Lesson: <%= @pic.lesson %>
  </h1>

    <%= image_tag @pic.image %>

  <h2>
    I felt: <%= @pic.emotion %>
  </h2>

  <h2>
    I learned: <%= @pic.learned %>
  </h2>

  <%= link_to 'Back', pics_path, :class => 'btn btn-warning btn-large' %>

  <%= link_to 'Delete', pic_path(@pic), :method => :delete, :class => 'btn btn-danger btn-large', :confirm => 'You sure you want to delete this?' %>

</div>